* {
    box-sizing: border-box;
}
}

body {
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}

nav {
    background-color: #333;
    overflow: hidden;
}
nav a:visited
{
	color: royalblue;
}

nav a  {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
nav a:hover
{
	color: tomato;
	font-size: 17px;
}
main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

.name {
	font-weight: bold;
	font-size: 20px;
	color: #333333;
	/*padding-bottom: 0;
	margin: 0;
	display: inline;
	vertical-align: middle; */
	text-align: left;
	line-height: 1px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.initial
{
	/*font-weight: bold;
	font-size: 14px; */
	color: #333333;
	/*padding-bottom: 0;*/
	/*margin: 0;*/
	display: inline;
	/*vertical-align: middle;*/
	color: #1ab13e;
	stext-align: left;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* animation: 1.5s fadeInTop ease-in-out;
	 transform: scale(1,1) rotate(45deg) translate(-28px, -82px);
	 .count */
	}
#boldhead {
	color: #333333;
	border-color: #fcd21d;
	border-width: 30px solid #fcd21d;
	padding: 50px;
	margin: 20px;
	margin-top: 4px;
	text-align: centre;
	background-color: #fcd21d;
	font-size: 30px;
    font-family: sans-serif;
}
#count1
{

	color: white;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 50px;
}
.initial:hover {
 opacity: 0.2;
    transition: 0.3s;
    -webkit-transition: 170ms ease-in-out;
    -moz-transition: 170ms ease-in-out;
    -ms-transition: 170ms ease-in-out;
    -o-transition: 170ms ease-in-out;
    transition: 170ms ease-in-out;
    transition-duration: 170ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
#slogan1
{
	font-family: sans-serif;
	color: #333333;
	margin: 20px;
	margin-bottom: 4px;
	padding: 100px;
	border-width: 30px solid red;
	text-align: center;
	background-color: #fcd21d;

}

.count
{
	font-family: sans-serif;
	color: #333333;
	margin: 20px;
	margin-bottom: 4px;
	padding: 100px;
	border-width: 30px solid red;
	text-align: center;
	background-color: #fcd21d;
}
#form{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgray;
	border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,		
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;
}
fieldset {
	background-color: #fff;
	border: 1px solid #ccc;
}
.main_heading {
 text-align: center;
}
input[type="submit"]
{
	background-color: lawngreen;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	/*width: 100%;*/
}
input[type="submit"]:hover
{
	background-color: #4caf84;
}
#pageheading {
	 font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer a:hover {
	color: tomato;
	font-size: 17px;
}
#glass {
	width: 30%;
    margin-right: 250px;
	float: right;
}
